PORT=4000
DATABASE_URL=postgresql://postgres:sifre@localhost:5432/cms
DATABASE_SSL=false
JWT_SECRET=gizli-anahtar-buraya-yazin
CLOUDINARY_NAME=dn3yaxs0v
CLOUDINARY_KEY=975274898784995
CLOUDINARY_SECRET=vX27ZDYygAX-ghJ33Ma2AUSSHJA
FRONTEND_URL=http://localhost:3000
